<div class="show-view", id="show-instance">
  <h1><%= @show.name %></h1>
  <p><%= @show.vote_average %></p>
  <p><%= @show.origin_country %></p>
  <p><%= @show.first_air_date %></p>
  <p><%= @show.overview %></p>
</div>