<div class="show-view", id="show-instance">
  <h1 id="show-name"><%= @show.name %></h1>
  <p id="show-rating"><%= @show.vote_average %></p>
  <p id="show-country-origin"><%= @show.origin_country %></p>
  <p id="shows-first-air-date"><%= @show.first_air_date %></p>
  <p id="show-overview"><%= @show.overview %></p>
</div>