<div  id="show-instance">
  <h1 id="show-name"><%= @show.name %></h1>
  <div id="show-rating"><%= @show.vote_average %></div>
  <div id="show-country-origin"><%= @show.origin_country %></div>
  <div id="shows-first-air-date"><%= @show.first_air_date %></div>
  <div id="show-overview"><%= @show.overview %></div>
</div>