<!DOCTYPE html>
<html>
  <head>
    <title>Movie Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render partial: 'shared/navbar' %>

  <body>
    <%= yield %>
    <div id="search-results">
    </div>
    <%= render partial: 'shared/footer' %>
  </body>


</html>
